<%- include('partials/head') %>
<body>
    <%- include('partials/nav-bar') %>
    <h1>ALL CATS</h1>
    <ul>
        <% for(let cat of cats){ %>
            <li><%= cat %></li>
        <% } %>
    </ul>
</body>
</html>