<%- include('partials/head') %>
<!-- <%-  %> This syntax is user for treating incoming content as HTML -->
<body>
    <%- include('partials/nav-bar') %>
    <h1>THE HOME PAGE <%='Hello world' %> </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta doloremque explicabo consequatur. Tempore voluptas ipsam officia doloribus saepe dolorum necessitatibus amet rerum veniam nesciunt modi, ratione asperiores, vel sequi ad.</p>
</body>
</html>