<%- include('partials/head') %>
<body>
    <%- include('partials/nav-bar') %>
    <h1>Your Random Number is : <%= rand%></h1>
    <% if(rand%2===0){ %>
        <h1>Its a EVEN number</h1>
    <% }else{ %>
        <h1>Its a ODD number</h1>
        <% } %>
</body>
